/* ===============================
   Arabic Website Styles (RTL)
   =============================== */
@font-face {
    font-family: 'DGHeaven';
    src: url('../fonts/DG-Heaven-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #32519b;
    --secondary-color: #11b3cf;
    --text-dark: #333333;
    --text-light: #666666;
    --bg-light: #f5f5f5;
    --white: #ffffff;
    --transition: all 0.3s ease;
}

html {
    direction: rtl;
}

body {
    font-family: 'DGHeaven', sans-serif;
    background-color: var(--bg-light);
    color: var(--text-dark);
    text-align: right;
}

/* Navbar */
.small-navbar{
    background-color:#fff !important;
    color:#000 !important;
}
.main-navbar{
    background-color:var(--primary-color);
    color:#fff !important;
}
.navbar {
    direction: rtl;
    background-color:var(--primary-color);
    padding: 0;
    padding-top: 2px;
}

.navbar-brand {
   font-weight: 700;
    background: #fff;
    margin: 0px;
    padding: 6px 60px 12px 140px;
    clip-path: polygon(70px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 70px);
}

/* Fix Bootstrap RTL spacing */
.ms-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

/* Links */
a {
    color: var(--primary-color);
    transition: var(--transition);
}

a:hover {
    color: var(--secondary-color);
}

/* Headings */
h1, h2, h3, h4, h5 {
    color: var(--primary-color);
}


/* Footer */
footer {
    background-color: #f0f2f5;
    color: var(--text-light);
}

/* Buttons */
.btn-primary-custom {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
}

.btn-primary-custom:hover {
    background-color: var(--secondary-color);
}
/*=====================================
            Home page
=======================================*/
.home-header {
    position: relative;
    height: 60vh;
    background-image: url('../images/bg-header-1@3x.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-header .overlay {
    position: absolute;
    inset: 0;
    /* background: rgba(0, 0, 0, 0.55); */
}

.home-header .container {
    position: relative;
    z-index: 2;
}

.home-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff !important;

}

.home-header p {
    font-size: 1.1rem;
    line-height: 1.8;
    padding: 0 120px;
}
@media (max-width: 768px) {
    .home-header {
        text-align: center;
    }

    .home-header h1 {
        font-size: 2.2rem;
    }
}
